@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@model IEnumerable<Schedule>

<h1>@ViewData["Title"]</h1>

<div class="container-fluid mt-5">

    <table class="table">
        <thead>
            <tr>
                <th>Match Date & Time</th>
                <th>Stadium</th>
                <th>Teams</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var schedule in Model)
            {
                <tr>
                    <!-- Match Date and Time -->
                    @* <td>@schedule.MatchDateTime.ToString("f")</td> *@

                    <!-- Stadium Name -->
                    <td>@schedule.Stadium.Name</td>

                    @* <!-- Teams playing in the match -->
                    <td>
                        @foreach (var team in schedule.Teams)
                        {
                            <span>@team.Name</span><br />
                        }
                    </td> *@

                    @* <!-- Actions (Edit and Delete buttons) -->
                    <td>
                        <a href="@Url.Action("Edit", new { id = schedule.Id })" class="btn btn-primary">Edit</a>
                        <a href="@Url.Action("Delete", new { id = schedule.Id })" class="btn btn-danger">Delete</a>
                    </td> *@
                </tr>
            }
        </tbody>
    </table>
</div>
